<a href="https://colab.research.google.com/github/Udaykumar-56/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# find large number from given 3 numbers
a= int(input("enter a number"))
b= int(input("enter a number"))
c= int(input("enter a number"))
if a>b and a>c:
  print(a," is larger number")
elif b>a and b>c:
     print(b,"is larger number")
else:
  print(c,"is larger  number")

enter a number7
enter a number3
enter a number1
7  is larger number

#while statements:
### Syntax:
##### while Boolean_condition:<br>
    statements<br>
    increment / decrement<br>

In [0]:
x=0
while x<5:
   print("gitam")
   x=x+1

gitam
gitam
gitam
gitam
gitam

In [0]:
# print n natural number using wile loop
#input:10
#output : 1 2 3 4 5 6 7 8 9 10
n = int(input("enter a number"))
i = 1
while i<=n:
    print(i,end= " ")
    i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [0]:
# add only even number 1 to n
# input:10
# output : 30(2+4+6+8+10)
n=int(input("enter a number"))
i=1
sum=0
while i<=n:
    if i %2 == 0:
         sum=sum+i
    i = i+1
print(sum)

enter a number10
30

In [0]:
# reverse
n = int(input("enter a number"))
while n!=0:
  r = n%10
  print(r,end= " ")
  n =n//10

enter a number123
3 2 1

# Functional Programming
 

*   Simple
*Easy read


*   Lengthy program divides into sub program

# Syntax
 def nameofthefunction(<parameters>):
     statements
     return

In [0]:
# input:1234
# output:6 (2+4)
def addevendigit(n):
  sum =0
  while n!= 0:
    r = n%10
    if r %2==0:
      sum = sum+r
    n = n//10
  return sum
addevendigit(1234)

6

In [0]:
# input:19528
# output:9
def largestdigit(n):
  largest=0
  sum =0
  while n> 0:
    r = n%10
    if r >largest:
      largest =r
    n = n//10
  return largest
largestdigit(19528)

9

In [0]:
#input:121 ---121---yes
#      123 ---321---no


def ispalindrome(n):
    rev = 0
    buffer = n
    while n !=0:
      r =n%10
      rev =rev * 10 + r
      n = n//10
    if buffer == rev:
      return "yes"
    else: 
        return "no"
print(ispalindrome(121))
print(ispalindrome(123))

yes
no

In [0]:
#palindrome
def palindrome(n):
     pal =0
     while(n>0):
      r=n %10
      pal =pal *10 + r
      n = n//10
     return pal
palindrome (7321)

1237

In [0]:
#function to print n natural number
def natural(l,b):
  for i in range (l,b+1):
    print(i,end=" ")
natural(10,17)

10 11 12 13 14 15 16 17

In [0]:
def natural(l,b):
  for i in range (l,b+1,3):
    print(i,end=" ")
natural(1,10)
#output:1

1 4 7 10

In [0]:
def natural(l,b):
  for i in range (l,b+1,5):
    print(i,end=" ")
natural(1,20)

1 6 11 16

In [0]:
#using function
# input :1,10


def  reverserange(b,I):
  for i in range(I,b-1,-1):
    print(i,end="  ")


reverserange(1,10) 
#output : 10 9 8 ......1

10  9  8  7  6  5  4  3  2  1

# Data structures types:


*   List 
*   tuple
*   dictionary


# list:
-its one common data structure in python,the items are separated by comma and enclosed by []
- crud operations
* c - create
* r - read
* u - update
* d - delete
* list can be changed or immutable
  
   **example:**
   * list=[1,2,3,4]

In [0]:
li = [1,2,3,4,5]
print(li)
print(li[0])

[1, 2, 3, 4, 5]
1