<a href="https://colab.research.google.com/github/Udaykumar-56/python/blob/master/28_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
str="pynative"
print(str.split())
li=list(str)
print(li)
print(li[::2])

['pynative']
['p', 'y', 'n', 'a', 't', 'i', 'v', 'e']
['p', 'n', 't', 'v']

In [4]:
li=[1,2,3,4,5,6,7,1]
print(li[::-1])
if li[0]==li[-1]:
  print("True")
else:
  print("False")

[1, 7, 6, 5, 4, 3, 2, 1]
True

In [6]:
i=1
n=5
for i in range(1,6):
  for j in range(0,i):
    print(i,end=" ")
  print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
name=int(input("enter your name"))
age=int(input("enter your age"))
age=name-age
age=age+100
print(name,"will be 100 years old in the ",age)

enter your name2014
enter your age25
2014 will be 100 years old in the  2089